Bubble Sort/BubbleSort
Insertion Sort/InsertionSort
Selection Sort/selectionSort
Sieve of Eratosthenes/eratosthenes
Euclid: GCD/gcd
Prime Factors/primefactors
DSA/labsheets/DSA/ujju/Lab4/Ujjwal/extMergeSort/op/
